# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Vim swap files
.*.swp
*~

# Project related files

# Saved games
*.sav

# Saved seeds
*.seed

